/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
    font-size: 62.5%;
    font-family: Arial;
}

#frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

img {
    display: block;
    margin: 0 auto;
    height: 200px;
}

button {
    font-size: 1.2rem;
    background: white;
}

button:hover {
    background: black;
    color: white;
}

button:active {
    background: black;
    color: white;
}

h1 {
    font-size: 2rem;
}

h2, h3 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
